<div id="site-sidebar" class="c-site-sidebar">
    {{! Sidebar header with blog cover and logo images }}
    <div class="c-sidebar-header" style="background-image: url({{@blog.cover}})">
        <a class="c-sidebar-header__link" href="{{@blog.url}}" title="{{@blog.title}}">
            <img class="c-sidebar-header__image" src="{{@blog.logo}}" alt="{{@blog.title}}">
        </a>
    </div>

    {{! Sidebar blog title }}
    {{#is "home"}}<h1 class="c-sidebar-blog-title">{{else}}<h2 class="c-sidebar-blog-title">{{/is}}
        <a class="c-sidebar-blog-title__link" href="{{@blog.url}}" title="{{@blog.title}}">
            {{@blog.title}}
        </a>
    {{#is "home"}}</h1>{{else}}</h2>{{/is}}

    {{! Sidebar blog description }}
    <h2 class="c-sidebar-blog-description">
        {{@blog.description}}
    </h2>

    {{! Sidebar contact links }}
    <div class="c-sidebar-contact-links">
        <a class="c-sidebar-contact-links__item" href="https://github.com/gregbkr" target="_blank">
            github
        </a>

        <a class="c-sidebar-contact-links__item" href="https://twitter.com/gdevops" target="_blank">
            twitter
        </a>

        <a class="c-sidebar-contact-links__item" href="https://ch.linkedin.com/in/gregboccard" target="_blank">
            linkedin
        </a>

        <a class="c-sidebar-contact-links__item" href="mailto:gregboccard@outlook.com">
            email
        </a>
    </div>

    {{! Sidebar navigation - Ghost's menu }}
    {{navigation}}

    {{! Sidebar promotion / additional links }}
    <div class="c-sidebar-promotion-links">
        <a class="c-sidebar-promotion-links__item" href="https://ch.linkedin.com/in/gregboccard" target="_blank">
            &bull; Hire me as a freelancer
        </a>

        <a class="c-sidebar-promotion-links__item" href="https://bity.com/af/2zzb6ra2" target="_blank">
            &bull; Buy bitcoin @bity.com
        </a>

        <a class="c-sidebar-promotion-links__item" href="https://www.exoscale.ch" target="_blank">
            &bull; Exoscale: your swiss cloud provider
        </a>
    </div>
</div>
